# Frontend                                   
/src/frontend/          @thepullreview/frontend-team                                                                                                                                   
   
# Backend                                                                                                                                                                             
/src/backend/           @thepullreview/backend-team
