# Frontend                                   
/frontend/          @thepullreview/frontend-team                                                                                                                                   
   
# Backend                                                                                                                                                                             
/backend/           @thepullreview/backend-team
